



.from-to {
    display: flex;
    min-height: 232px;

    font-weight: 400;
    font-size: 14.6222px;
    line-height: 157%;
    
    text-align: center;
    
    color: #5A5C61;
    text-align: center;

    justify-content: center;
    align-items: center;
    p {
        
        width: 430px;
        margin: 0;
       

    }
   
}





