

.translation {
    display: flex;
    min-height: 232px;
    background: linear-gradient(244.77deg, rgba(171, 82, 206, 0.15) 25.08%, rgba(254, 134, 135, 0.15) 73.48%), #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 157%;
    color: #5A5C61;
    text-align: center;

    justify-content: center;
    align-items: center;
    p {
        
        width: 1195px;
        margin: 0;
       

    }
   
}








